table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th, td {
    min-width: 50px;
}

button {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #cccccc;
}

button:disabled {
    background-color: #eeeeee;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid black;
}

.hover:hover {
    background-color: #eeeeee;
}